header {
    color: white;
    background-color: #1e90ff;
    text-align: center;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

h3, a {
    padding-left: 20px;
}

.container {
    font-size: 15px;
    font-family: "Poppins", Arial, sans-serif;
}

.container h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 20px;
}

.card {
    background: white;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa;
    transition: .3s;
}

button {
    color: white;
    background-color: #1e90ff;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* --- Responsive Design --- */

@media (max-width: 900px) {
    .events {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .events {
        grid-template-columns: 1fr;
    }
}

.event-img {
    width: 100%;
    height: 220px;      
    object-fit: cover;  
    border-radius: 10px;
    margin-bottom: 15px;
}
